@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/* Mobile:   width < 740px 
   Tablet:   width >=740px and < 1024 px 
   PC:       width >= 1024px */


@media only screen and (max-width: 837px) {

  .top-menu {
    float: right;
    height: 30%;
  }

  .page-header .page-logo {
    display: none;
  }

  .menu-left {
    display: none
  }


  .page-container {
    min-height: 740px;
    max-width: 839px;
  }

  .user {
    display: none !important
  }

  .list-top {
    display: none;

  }

  .search-form {
    margin-left: 40px !important;
  }

  .page-content {

    width: 100% !important
  }

}




@media only screen and (min-width: 837px) and (max-width: 1000px) {

  .overlay {
    display: none;
  }

  .page-header .page-logo span {
    display: none;

  }

  .search-form {
    margin-left: 20px !important;
  }
}


/*=================================================================================================================================*/
/*=================================================================================================================================*/
/*=================================================================================================================================*/
/*=================================================================================================================================*/
/*=================================================================================================================================*/
/*=================================================================================================================================*/
/*=================================================================================================================================*/



/* =========================================== */
/* ========== START HEADER =================== */
/* =========================================== */
html,
body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 1.7;
  font-family: sans-serif;
  box-sizing: border-box;
  font-weight: 400;

}

.page-header {
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 59px;
  z-index: 1;
  background-color: white;
}

.page-header .page-logo {
  background-color: #3a3f51;
  height: 60px;
  width: 15%;
  float: left;
  color: #fff;
  font-size: 25px;
  line-height: 42.5px;
}

.page-header .page-logo img {
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  font-weight: 500;
  margin-left: 20px;
  padding: 13px 13px;
  float: left;
}

.page-header .page-logo span {


  bottom: 10px;

  float: left;
  padding: 8px 0;
}

.bars {
  float: left;
  padding: auto;
  height: 100%;
  width: 3%;
}

.bars i {
  margin: 22px 23px;
}

.search-form {
  background-color: transparent;
  border: 1px solid #bdbdbd;
  border-radius: 30px;
  font-size: 15px;
  text-align: left;
  max-width: 200px;
  float: left;
  line-height: 25.5px;
  width: 100%;
  margin: 12px 0 0 10px;
}

.search-form input {
  border: 0;
  margin: 9px 9px;
}

.top-menu {
  float: right;
  line-height: 24px;
  margin-bottom: 0;
  margin-right: 10px;
  margin-top: 0;
  padding: 0;
  height: 100%;
  min-width: 330px;

}

.top-menu ul {
  list-style-type: none;
  margin: 0;
}

.top-menu ul li {
  float: left;
  position: relative;
  display: inline-block;

}

ul .noti {
  float: left;
  margin: 15px 15px;
}

ul .messages {
  float: left;
  margin: 15px 15px;
}

ul .user {
  float: left;
  line-height: 20px;
  text-align: left;

}


ul .user button {
  display: none;
  height: 30px;
  width: 100px;
  position: absolute;
  z-index: 1;
  background: #fff;
  top: 47px;
  left: 22px;
}

ul .user button a {
  text-decoration: none;
  color: black;
}


ul .user img {
  border-radius: 50%;

  height: 55px;
  margin: auto;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-weight: 500;
  line-height: 42.5px;
  text-align: left;
  padding: 10px 5px;
  float: left;
}

ul .user span {
  margin-top: 15px;
  position: relative;
  top: 15px;
  line-height: 20px;
  font-size: 15px;
  padding-top: 10px;
}

ul .user i {
  position: relative;
  top: 15px;
}

ul .setting {
  float: left;
  margin: 14px 15px;
}


/* =========================================== */
/* ========== END HEADER ===================== */
/* =========================================== */





/* =========================================== */
/* ========== MENU LEFT ======================*/
/* =========================================== */


.header-inner {
  box-sizing: border-box;
  height: 60px;
  width: 100%;
  display: block;
  box-shadow: 0px 0px 0px 1px black;
}

.page-container {
  width: 100%;
  height: 100%;
}


.page-container {
  width: 100%;
  height: 100%;
}

.menu-left {
  min-height: 800px;
  background-color: #3a3f51;
  float: left;
  width: 15%;
}

.menu-left:hover {
  background-color: #273244;
}

.menu-left .user-panel {
  box-sizing: border-box;
  color: #aaadb7;
  float: left;
  font-size: 14px;
  line-height: 24px;
  padding: 10px 10px 20px;
  text-align: left;
  width: 100%;
}

.menu-left .user-panel .user-pic img {
  border: 2px solid #d2d6de;
  border-radius: 50%;
  display: block;
  width: 70px;
  margin: 0 auto;
  padding: 3px;
}

.menu-left .user-panel .user-name {
  color: #aaadb7;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  margin-top: 13px;
}

.menu-left .user-panel .user-job {
  color: #b7b6b6;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  margin-top: -6px;
}



.menu-left .user-panel .user-extend i {
  position: relative;
  box-sizing: border-box;
  margin: 10px 14px;
  font-size: 20px;


}

.menu-left .menu-heading {
  line-height: 24px;
  float: left;
  width: 100%;
  height: 40px;
}

.menu-left .menu-heading span {
  color: #d4d9eb;
  margin: 22px;
}


.menu-left .list-menu {
  width: 100%;
  float: left;

}

.menu-left .list-menu .list-parent {
  margin: 0;
  list-style: inside none none;
  display: block;
  height: 58px;
  color: #d4d9eb;
  text-decoration: none;
  position: relative;
}

.menu-left .list-menu .list-parent:hover {
  background-color: #343848;
  line-height: 24px;

}


.menu-left .list-menu .dropdown-container {
  display: none;
}


.menu-left .list-menu div a {
  margin: 0;
  list-style: inside none none;
  display: block;
  /* height: 20px; Loi khong hien thi het Tên nút*/
  color: #d4d9eb;
  text-decoration: none;
  position: relative;
  padding: 10px 60px;
  background-color: #3a3f51;

}


.menu-left .list-menu div a:hover {

  background-color: #343848;
}


.menu-left .list-menu .list-parent i,
.menu-left .list-menu .list-parent span {
  position: relative;
  top: 15px;
  left: 15px;
}

.menu-left .list-menu .list-parent .down {
  right: 5px;
}


/* =========================================== */
/* ========== END MENU LEFT ================== */
/* =========================================== */



/* =========================================== */
/* ==========  PAGE CONTERNT ================= */
/* =========================================== */

.page-content {
  background-color: #eaeef3;
  box-sizing: border-box;
  color: rgba(0, 0, 0, .87);
  font-family: Poppins, sans-serif;
  font-size: 15px;
  float: left;
  width: 85%;
  min-height: 800px;
  list-style: outside none none;

}

.page-content .page-bar {
  width: 100%;
  height: 70px;
  display: block;
  float: left;
}

.page-content .page-bar .page-title {
  border-radius: 4px;
  color: #666;
  display: block;
  font-size: 24px;
  font-weight: 300;
  line-height: 40.8px;
  margin: 15px 35px;
  padding: 0;
  text-align: left;
}

.page-content .car-box {
  width: 100%;
  float: left;
  display: block;
}

.page-content .car-box .car-search {
  width: 100%;
  margin-left: 30px;
}

.page-content .car-box a {
  font-size: 14px;
  background-color: #e91e63;
  border: 1px solid transparent;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, .2) 0 5px 20px 0, rgba(233, 30, 99, .6) 0 13px 24px -11px;
  color: #fff;
  width: 100px;
  font-weight: 500;
  padding: 10px 15px;
  position: relative;
  text-align: left;
  text-decoration: none;
  margin-left: 30px;
}


.page-content .car-box label {
  padding: 5px 5px;
}


.page-content .car-box .nav-show-gird {
  background-color: transparent;
  border: 1px solid transparent;
  color: #948f8f;
  padding: 10px 15px;
  text-decoration: none;
  margin-left: 1px;
}


.page-content .table-content {
  float: left;
  width: 96%;
  background-color: #fff;
  border: 1px solid #f2f2f2;
  border-radius: 10px;
  box-shadow: none;
  box-sizing: border-box;
  color: rgba(0, 0, 0, .87);
  line-height: 25.5px;
  margin-bottom: 20px;
  min-height: 500px;
  position: relative;
  top: 25px;
  left: 2%;
  right: 2%;
  text-align: left;
}

.page-content .table-content .card-header {
  width: 100%;
  margin: 10px 35px;
  font-size: 17px;
  display: block;
}




.page-content .table-content .card-header .left-card {
  float: left;
  width: 50%;

}

.page-content .table-content .card-header .right-card {
  float: left;
  width: 50%;
}


.page-content .table-content .card-header::after {
  content: "";
  display: block;
  clear: both;
}


.page-content .table-content .card-body table {
  width: 97%;
  margin-left: 15px;

}

.page-content .table-content .card-body table tr {
  border-spacing: 1.6px;
  border-top: 1px solid #dee2e6;
  color: #212529;
  line-height: 25.5px;
  text-align: center;
}

.page-content .table-content .card-body table th {
  height: 43px;
}

.page-content .table-content .card-body table td {
  height: 60px;
}


.page-content .table-content .card-body table tr:hover {
  background-color: #f3f4f6;
}


.page-content .table-content .card-body table tr td img {
  border: 1px solid #fff;
  border-collapse: collapse;
  border-radius: 50%;
  border-spacing: 1.6px;
  box-shadow: rgba(0, 0, 0, .2) 0 5px 25px 0;
  box-sizing: border-box;
  color: #212529;
  cursor: pointer;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  line-height: 25.5px;
  quotes: auto;
  text-align: center;
  vertical-align: middle;
}

.page-content .table-content button {
  font-size: 14px;
  background-color: #1E90FF;
  border: 1px solid transparent;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, .2) 0 5px 20px 0, rgba(233, 30, 99, .6) 0 13px 24px -11px;
  color: #fff;
  width: 80px;
  font-weight: 500;
  padding: 10px 22px;
  position: relative;
  text-align: left;
  text-decoration: none;
  float: right;
  margin-right: 55px;
}

/* Style table By DangKhoa */
.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}
.hidden-select-row {
  
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}
.selected-row-table{
  background-color: rgb(75, 153, 173);
}
.center-paginate{
  text-align: center;
}

/**phan trang*/
.pagination {
  display: inline-block;
}
.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}
.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #ddd;}


/* =========================================== */
/* ========== END PAGE CONTERNT ============== */
/* =========================================== */



.open-menu-left {
  display: block;
  position: fixed;
  left: 0;
  min-width: 124px;
  z-index: 1;
  transition: 0.5s;

}




.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 26px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: rgb(83, 194, 68);
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}